<head>
    <title>To Do List</title>
</head>
<body>
    <h1>Welcome to To Do List</h1>

    <h3><a href="/categories">Add/View Category</a></h3>
    <h3><a href="/tasks">Add/View Task</a></h3>

</body>
