<h4>Edit this category:</h4>

<form action="/categories/$category.getId()/change-name" method="post">
  <label for="newname">New Description</label>
  <input id="newname" name="newname" type="text">
  <button type="submit">Change category name</button>
</form>
